
<app-loading *ngIf="isLoading"></app-loading>
<div class="pt-4 pr-6 flex justify-end">
    <select class="border border-gray-400 rounded-md p-2" #releaseSelect (change)="onOptionReleaseSelected(releaseSelect.value)">
        <option value="new">Newest Release</option>
        <option value="old">Oldest Release</option>
    </select>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4 md:p-6" *ngIf="!isLoading">
    <div *ngFor="let galleryItem of galleryItems">
        <div class="relative">
            <img [src]="galleryItem.image" alt="{{galleryItem.description}}" class="h-64 w-full object-cover" >
            <div class="absolute bottom-0 right-0 bg-black bg-opacity-70 p-2 text-white">{{galleryItem.duration}}</div>
            <div class="absolute inset-0 bg-black opacity-0 hover:opacity-70 transition-opacity"></div>
            <div class="absolute inset-0 flex items-end justify-end opacity-0 hover:opacity-100 transition-opacity" (click)="galleryClick(galleryItem.video_id)">
                <div class="bg-white p-4 rounded-lg">
                    <p class="text-gray-700">{{galleryItem.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>